<section id="curiosities">
    <div class="container">
      <h2 class="text-center">Mes <span class="underline">curiosités</span></h2>
      <div class="row">
        <% @curiosities.each do |curiosity| %>
          <div class="col-sm-3">
            <div class="item">
              <%= image_tag curiosity.image_url, url: curiosity.image_url, alt: curiosity.image_text, class: "picture" %>
              <h3>
                <%= curiosity.name %>
              </h3>
              <p>
                <%= curiosity.description %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
